---
import avatar from '/avatar.webp'
---

<header class="flex justify-center flex-col items-center mb-10">
    <img
        src={avatar}
        alt="Matej Bendík, profile picture"
        class="rounded-full mb-6"
        width="96"
        height="96"
    />
    <h1 class="text-3xl font-semibold">Matej Bendík</h1>
    <p class="text-gray-500 mt-1">
        Full-Stack Web Developer, Content creator
    </p>
</header>
